*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
} 

.button{
    width: 100px;
    height: 100px;
    cursor: pointer;
    border: 3px solid whitesmoke;
}


.active{
    background-color: black;
    color: white;
}
.activeb{
    background-color: white;
}

#yellow{
    background-color: yellow;
}
#black{
    background-color: black;
}
#red{
    background-color: red;
}
#blue{
    background-color: blue;
}

.parent{
    display: flex;
    /* justify-content: center; */
    justify-content: center;
    align-items: center;
    height: 100vh;
    max-width: 100vw;
    gap: 20px;
}
